body {
    background-color: #ffc878;
    font-size: 20px;
}

#item {
    height: 240px;
    width: 33%;
    min-width: 200px;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

#photo {
    height: 65%;
    max-width: 100%;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	}
