#navBar {
	height: 40px;
	text-align: center;
	background-color: darkred;
	color: white;
	padding: 20px;
}

a:link {
	color: white;
	font-size: 25px;
}

a:visited {
    color: #ffc878;
}

a:hover {
	font-size: 35px;
}

a:active {
    color: lightblue;
}

#homePage {
    padding: 30 px;
}