
body {
	background-color: #ffc878;
}

#ninerHeader {
	text-align: center;
	height: 50px;
}

#newsFeed {
	height: 580px;
	width: 35%;
	background-color: darkred;
	color: #ffc878;
	padding: 10px;
	float: right;
}

#main {
	height: 600px;
	width: 60%;
	background-color: #ffc878;
	padding: 10px;
	text-align: center;
	float: left;
}

h3 {
	font: 15px arial, sans-serif;
	text-align: center;
}

a:link {
	text-decoration: none;
	color: #ffc878;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	}
