
body {
	background-color: #ffc878;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	background-color: darkred;
}

li {
    display: inline;
}

#ninerHeader {
    text-align: center;
}

#navHeader {
	text-align: center;
}

#newsFeed {
    height: 400px;
    width: 30%;
    background-color: #ffc878;
	border: 5px solid darkred;
	padding: 10px;
	float: right;
}

#main {
	background-color: #ffc878;
	height: 400px;
	width: 1000px;
	padding: 10px;
	float: left;
	text-align: center;
}

h3 {
	font: 15px arial, sans-serif;
	text-align: center;
}

#mainPhoto {
	padding: 50px;
}

#jimmyG {
	height: 100%;
	width: 100%;
}