
body {
	background-color: #ffc878;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	background-color: darkred;
}

li:link, li:visited {
	color: white;
    display: inline;
	text-align: center;
	text-decoration: none;
}

li:hover, li:active {
	color: black;
}