#navBar {
	height: 40px;
	text-align: center;
	background-color: darkred;
	color: white;
}

a:link {
	color: white;
	font-size: 30px;
}

a:visited {
    color: #ffc878;
}

a:hover {
	font-size: 35px;
}

a:active {
    color: lightblue;
}

span {
    word-spacing: 30px;
}